/* Estilos para el botón por defecto */
.navbar .btn-info {
  transition: all 0.3s ease;
  background-color: #17a2b8; /* Azul claro */
  border-color: #17a2b8;     /* Azul claro */
  color: white;              /* Texto blanco */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Efecto hover: cuando el ratón pasa por encima */
.navbar .btn-info:hover {
  background-color: #0056b3;  /* Azul oscuro */
  border-color: #004085;      /* Azul más oscuro para el borde */
  color: white;               /* El texto permanece blanco */
  box-shadow: 0 8px 15px rgba(0, 123, 255, 0.5); /* Sombra más pronunciada */
}


/* Estilo para la card */
.card {
  border: 2px solid #17a2b8; /* Borde azul claro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: box-shadow 0.3s ease; /* Suavizamos la sombra */
}

/* Efecto hover para la card */
.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el mouse */
}

/* Estilos para el botón Agendar cita */
.btn-agendar {
  background-color: #17a2b8; /* Color azul claro similar a los botones del navbar */
  border-color: #17a2b8;     /* Color azul claro */
  color: white;              /* Texto blanco */
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Efecto hover para el botón Agendar Cita */
.btn-agendar:hover {
  background-color: #0056b3;  /* Azul oscuro */
  border-color: #004085;      /* Azul más oscuro para el borde */
  color: white;               /* El texto sigue siendo blanco */
  box-shadow: 0 8px 15px rgba(0, 123, 255, 0.5); /* Sombra más pronunciada */
}
