/* AgendarCita.css */

/* Estilo para centrar el formulario vertical y horizontalmente */
.agendar-form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* Bordes estilizados para los campos */
.border-radius-custom {
    border-radius: 8px;
    
    
    

}

/* Ajuste de espacio entre los campos y botones */
.agendar-form .form-group {
    margin-bottom: 20px;
    border: 2px solid #007bff; /* Establece un borde de 2px de grosor */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Agrega la sombra */
    padding: 10px; /* Espaciado interno para no pegar el contenido al borde */
    border-radius: 8px; /* Bordes redondeados */
}

.agendar-form .btn {
    border-radius: 8px;
}

