@import "tailwindcss";

:root {
	--background: #fafafa;
	--foreground: #171717;
	--primary: #03a9f4;
	--secondary: #74c7bf;
	--accent: #03a9f4;
	--accent-hover: #028ac2;
	--success: #66bb6a;
	--success-hover: #4caf50;
	--error: #ef9a9a;
	--error-hover: #e57373;
	--muted: #bdbdbd;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
